<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <module value="sysuser" name="系统用户">
    <permission value="search" name="查询" />
    <permission value="manage" name="管理" />
    <permission value="manageSysPermission" name="设置系统权限" />
  </module>
  <module value="sysrole" name="系统角色">
    <permission value="search" name="查询" />
    <permission value="manage" name="管理" />
    <permission value="manageSysPermission" name="设置系统权限" />
  </module>
  <module value="department" name="部门管理">
    <permission value="search" name="查询" />
    <permission value="manage" name="管理" />
  </module>
  <module value="appsecret" name="接口密钥">
    <permission value="search" name="查询" />
    <permission value="manage" name="管理" />
    <permission value="manageSysPermission" name="设置系统权限" />
  </module>
  <module value="sysLog" name="系统日志">
    <permission value="search" name="查询" />
  </module>
	<module value="Category" name="项目类别">
		<permission value="search" name="查询" />
		<permission value="new" name="添加" />
		<permission value="edit" name="修改" />
		<permission value="del" name="删除" />
	</module>
	<module value="Project" name="科研项目">
		<permission value="search" name="查询" />
	</module>
	<module value="Review" name="专家分配">
		<permission value="search" name="查询" />
	</module>
	<module value="ReviewProject" name="专家评审">
		<permission value="search" name="查询" />
	</module>
	<module value="Fund" name="项目经费">
		<permission value="search" name="查询" />
	</module>
	<module value="Outlay" name="经费支出">
		<permission value="search" name="查询" />
	</module>
</configuration>