<?xml version="1.0" encoding="utf-8"?>
<SysMenu>
  <FirstMenu text="系统" icon="glyphicon glyphicon-asterisk">
    <SecondMenu text="用户管理" icon="fa fa-circle-o" url="~/Base_SysManage/Base_User/Index" Permission="sysuser.search" />
    <SecondMenu text="角色管理" icon="fa fa-circle-o" url="~/Base_SysManage/Base_SysRole/Index" Permission="sysrole.search" />
    <SecondMenu text="部门管理" icon="fa fa-circle-o" url="~/Base_SysManage/Base_Department/Index" Permission="department.search" />
    <SecondMenu text="接口密钥管理" icon="fa fa-circle-o" url="~/Base_SysManage/Base_AppSecret/Index" Permission="appsecret.search" />
    <SecondMenu text="系统日志" icon="fa fa-circle-o" url="~/Base_SysManage/Base_SysLog/Index" Permission="sysLog.search" />
  </FirstMenu>
	<FirstMenu text="科研管理" icon="glyphicon glyphicon-asterisk">
		<SecondMenu text="项目类别" icon="fa fa-circle-o" url="~/Study/Rit_Category/Index" Permission="Category.search" />
		<SecondMenu text="科研项目" icon="fa fa-circle-o" url="~/Study/Rit_Project/Index" Permission="Project.search" />
		<SecondMenu text="专家分配" icon="fa fa-circle-o" url="~/Study/Rit_Review/Index" Permission="Review.search" />
		<SecondMenu text="专家评审" icon="fa fa-circle-o" url="~/Study/Rit_ReviewProject/Index" Permission="ReviewProject.search" />
		<SecondMenu text="项目经费" icon="fa fa-circle-o" url="~/Study/Rit_Fund/Index" Permission="Fund.search" />
		<SecondMenu text="经费支出" icon="fa fa-circle-o" url="~/Study/Rit_Outlay/Index" Permission="Outlay.search" />
	</FirstMenu>
  <!--<FirstMenu text="项目" url="~/ProjectManage/Dev_Project/Index" icon="glyphicon glyphicon-asterisk" Permission=""/>-->
</SysMenu>